.element__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url('../../../images/Trash.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 100%;
  min-height: 19px;
  max-width: 18px;
  padding: 0;
  align-self: center;
  transition: opacity .3s ease;
  cursor: pointer;
}

.element__delete:hover {
  opacity: 0.5;
}
