.page__content {
  width: 100%;
  max-width: 880px;
  margin: 0 19px;
}

@media screen and (max-width: calc(880px + 19px*2)) {
  /* максимальная ширина + 2 боковых отступа padding - меняет боковые margin на padding */
  .page__content {
    margin: 0;
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 984px) {
  .page__content {
    /* margin-bottom: 88px; */
  }
}

@media screen and (max-width: 568px) {
  .page__content {
    /* margin-bottom: 64px; */
  }
}
