.profile__description {
  max-width: 100%;
  grid-area: descr;
  margin: 6px 25px 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .profile__description {
    font-size: 14px;
    margin: 7px 6px 0 0;
  }
}
